@font-face {
    font-family: "IRANYekan-Regular";
    src: url('../fonts/IRANYekanXFaNum-Regular.woff') format("woff");
}

@font-face {
    font-family: "IRANYekan-Bold";
    src: url('../fonts/IRANYekanXFaNum-Bold.woff') format("woff");
}

html {
    scroll-behavior: smooth;
    direction: rtl;
}

body {
    font-family: "IRANYekan-Regular";
    user-select: none;
    overflow-x: hidden;
}

body.pannel {
    overflow-x: visible;
}

.font-bold {
    font-family: "IRANYekan-Bold";
}

.main-text {
    color: #64CCC5 !important;
}

.main-bg {
    background-color: #64CCC5;
}

.main-gradient {
    background: rgb(100, 204, 197);
    background: linear-gradient(90deg, rgb(100, 204, 197) 0%, rgb(100, 204, 197) 22%, rgb(251, 251, 251) 100%);
}

.main-gradient:hover {
    background: rgb(226, 248, 246);
    background: linear-gradient(90deg, rgba(226, 248, 246, 1) 0%, rgba(100, 204, 197, 1) 22%, rgba(100, 204, 197, 1) 100%);
    color: #053B50;
}

.shadow-hover:hover {
    box-shadow: 0px 3px 9px #80808061;
}
.text-gray{
    color: #a0a0a0;
}
.second-text {
    color: #053B50 !important;
}

.second-text2 {
    color: #053B50;
    opacity: 60%;
}

.second-bg {
    background-color: #053B50;
}
.text-orange{
    color: orangered;
}
.bg-black{
    background-color: #3c3c3c;
}
.bg-gray {
    background-color: #ffffff;
}

.bg-gray2 {
    background-color: #f5f5f5;
}

.bg-gray3 {
    background-color: #dfdfdf;
}
.bg-green{
    background-color: #4ec51c;
}
.bg-sky {
    background-color: #caf1f8;
}

.bg-sky2 {
    background: linear-gradient(rgba(9, 112, 85, 0) 0%, rgba(9, 112, 85, 0.07) 100%);
}

.bg-purple {
    background-color: #ba68c8;
}
.bg-pink {
    background-color: #ec407a;
}
.bg-success2 {
    background-color: #26EC15;
}

.bg-orange {
    background-color: orangered;
}

.bg-brown {
    background-color: #8d6e63;
}
.bg-blue{
    background-color: #009688;
}
.border-main {
    border: 2px solid #64CCC5;
}

.border-info {
    border: 1px solid #64ccc561;
}

.border-b-info {
    border-bottom: 7px solid #64ccc5;
}

.border-b-purple {
    border-bottom: 1px solid #ba68c8;
}

.border-b-purple-2 {
    border-bottom: 3px solid #800080;
}

.border-b-red {
    border-bottom: 1px solid #f44336;
}
.border-b-success {
    border-bottom: 1px solid #37c447;
}
.border-b-pink {
    border-bottom: 1px solid #ec407a;
}
.border-b-brown{
    border-bottom: 1px solid #8d6e63;
}
.border-b-blue{
    border-bottom: 1px solid #009688;
}
.transition {
    transition: all .4s;
}

.underline {
    position: relative;
}

.underline::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 120px;
    background-color: #800080;
    right: 0;
    bottom: -3px;
}
.underline.border-b-red::after {
    background-color: #f44336;
}
.underline.border-b-success::after {
    background-color: #37c447;
}
.underline.border-b-purple::after {
    background-color: #ba68c8;
}
.underline.border-b-pink::after {
    background-color: #ec407a;
}
.underline.border-b-brown::after {
    background-color: #8d6e63;
}
.underline.border-b-blue::after{
    background-color: #009688;
}
a {
    cursor: pointer;
    text-decoration: none;
    transition: all .4s;
}

.second-hover:hover {
    background-color: white;
    color: #053B50 !important;
    border: 1px solid #053B50 !important;
}

.main-hover:hover {
    background-color: #64ccc5;
    color: white !important;
}

.rounded-bl-0 {
    border-radius: 20px 20px 20px 0;
}

.rounded-tl-0 {
    border-radius: 0 20px 20px 20px;
}

.rounded-tr-0 {
    border-radius: 20px 0 20px 20px;
}
.rounded-left {
    border-radius: 22px 0 0 22px;
}
.cursor-pointer {
    cursor: pointer;
}
.text-justify{
    text-align: justify;
}
.mt-106 {
    margin-top: 106px;
}

.top-5 {
    top: -5px;
}
.top-9 {
    top: -9px;
}
.top-44 {
    top: -44px;
}

.top-124 {
    top: 124px;
}

.top-171 {
    top: 171px;
}
.left-36 {
    left: 36px
}
.left-241 {
    left: -241px
}

.right-241 {
    right: -241px
}

.h-100vh {
    height: 100vh;
}

.h-2 {
    height: 2px;
}

.h-7 {
    height: 7px;
}

.w-7 {
    width: 7px;
}

.h-14 {
    height: 14px;
}

.w-14 {
    width: 14px;
}

.w-10 {
    width: 40px;
}

.h-10 {
    height: 40px;
}

.h-20 {
    height: 20px;
}

.h-21 {
    height: 21px;
}

.h-27 {
    height: 27px;
}

.w-20 {
    width: 20px;
}

.w-36 {
    width: 36px;
}

.h-31 {
    height: 31px;
}

.h-36 {
    height: 36px;
}

.h-26 {
    height: 26px;
}

.w-26 {
    width: 26px;
}

.w-24 {
    width: 6rem;
}

.w-28 {
    width: 7rem;
}
.w-31 {
    width: 31px;
}
.w-32 {
    width: 8rem;
}

.w-38 {
    width: 38px;
}

.h-40 {
    height: 10rem;
}

.h-41 {
    height: 41px;
}

.h-46 {
    height: 46px;
}

.w-40 {
    width: 10rem;
}

.w-41 {
    width: 41px;
}

.h-58 {
    height: 58px;
}

.h-60 {
    height: 60px;
}

.w-60 {
    width: 60px;
}

.w-70 {
    width: 70px
}

.w-88 {
    width: 88px;
}

.w-90 {
    width: 90%;
}

.w-98 {
    width: 98px;
}

.w-123 {
    width: 123px;
}

.w-136 {
    width: 136px;
}

.w-156 {
    width: 156px;
}

.w-167 {
    width: 167px;
}

.w-178 {
    width: 178px;
}

.h-106 {
    height: 106px;
}

.h-105 {
    height: 105px;
}

.h-136 {
    height: 136px;
}

.h-180 {
    height: 180px;
}

.w-160 {
    width: 160px;
}

.w-193 {
    width: 193px;
}

.w-230 {
    width: 230px;
}

.w-250 {
    width: 250px;
}

.w-270 {
    width: 270px;
}

.w-290 {
    width: 290px;
}

.w-330 {
    width: 330px;
}

.w-574 {
    width: 574px;
}

.h-574 {
    height: 574px;
}
.max-w-500{
    max-width: 500px;
    width: 100%;
}
.mr-66 {
    margin-right: 66px;
}

.pt-6 {
    padding-top: 4rem;
}

.pb-9 {
    padding-bottom: 9rem;
}

.pt-84 {
    padding-top: 84px !important;
}

.py-25 {
    padding-top: .6rem;
    padding-bottom: .6rem;
}

.h-2 {
    height: 2px !important;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-64 {
    font-size: 64px;
}

.z-1 {
    z-index: -1;
}

.z-10 {
    z-index: 10;
}
.z-20 {
    z-index: 20;
}
.z-90 {
    z-index: 90;
}

.top-18 {
    top: 18%;
}

.top-29 {
    top: -29px;
}

.top-30 {
    top: 30px;
}

.top-57 {
    top: -57px;
}

.top-101 {
    top: 100px;
}

.top-250 {
    top: 250px;
}

.right-65 {
    right: 65px;
}

.right-78 {
    right: -78px;
}

.left-65 {
    left: 65px;
}

.left-78 {
    left: -78px;
}

.left-166 {
    left: -220px;
}

.bottom-45 {
    bottom: -45px;
}

.bottom-165 {
    bottom: 165px;
}

.mb-22 {
    margin-bottom: 22px;
}

.gap-100 {
    gap: 100px;
}

.fill-white {
    fill: white;
}

.text-justify {
    text-align: justify;
}

.rotate-180 {
    transform: rotate(180deg);
}
.rotate-130 {
    transform: rotate(130deg);
}
.rotate-67 {
    transform: rotate(67deg);
}

.rounded-lg {
    border-radius: .5rem;
}

.rounded-10 {
    border-radius: 10px !important;
}

.rounded-4 {
    border-radius: 1rem;
}

.rounded-5 {
    border-radius: 1.5rem;
}

.rounded-20 {
    border-radius: 20px;
}

.rounded-top2 {
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
}

.border-gray {
    border: 1px solid rgb(179, 179, 179);
}

.border-dashed {
    border: 1px dashed;
}

.custom-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 10px 10px 20px;
}

.opacity-60 {
    opacity: 60%;
}

.opacity-none {
    opacity: 0;
}
.outline-none{
    outline: none;
}
.opacity-none{
    opacity: 0;
}
#overlay{
    background-color: black;
    opacity: 0;
    z-index: -1;
    transition: all .4s;
}
#overlay.active{
    opacity: .6;
    z-index: 3;
}
input[type='email'],
input[type='number'],
.iti--allow-dropdown input {
    text-align: left;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 26px;
    color: orange;
}

.accordion-header,
.accordion-item .accordion-button {
    border-radius: 10px !important;
    background: rgb(217, 217, 217);
    background: linear-gradient(90deg, rgb(243, 242, 242) 0%, rgb(159, 211, 207) 66%, #d1f0ee 100%);
}

.accordion-item {
    border: none;
    background-color: transparent;
}

.accordion-button:not(.collapsed),
.accordion-button {
    color: #053B50;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../img/Vector\ 9.png");
    left: 21px;
    position: absolute;
    width: 21px;
    height: 15px;
}

.accordion-button::after {
    margin-right: auto;
    margin-left: 0;
    background-image: url("../img/Vector\ 9.png");
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}
.bg-pattern{
    background-image: url('../img/pattern-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-app{
    background-image: url('../img/app-banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-news{
    background: url('../img/footer.png') #646464;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* header */

/* banner */
.sidebar-list>li ul {
    display: none;
}
.sidebar-list>li:hover ul {
    display: block;
}

@media only screen and (max-width:1400px) {
    .left-166 {
        left: -190px;
      }
}

@media only screen and (max-width:1200px) {
    .sidebar-list{
        position: fixed!important;
        top: 0;
        bottom: 0;
        right: -1200px;
        transition: all .4s;
        width: 290px!important;
    }
    .sidebar-list.active{
        right: 0;
    }
    .sidebar-list ul{
       display: none!important;
    }
}

@media only screen and (max-width:992px) {}

@media only screen and (max-width:768px) {}

@media only screen and (max-width:576px) {}

@media only screen and (max-width:400px) {}